.button {
  width: 154px;
  height: 52px;
  border: 1px solid #041e50;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 1993px;
  margin-left: 556px;
}

.button:hover {
  background-color: #ddd;
}
