
.footer{
    position: absolute;
    width: 1280px;
    height: 63px;
    top:3414px;
    display: flex;
}

.address{
    width: 503px;
    height: 24px;
    margin-top: 9px;
    margin-left: 137px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #010101;
}

.tag1{
    width: 101px;
    height: 42.69px;
    margin-top: 12px;
    margin-left: 225px;
}

.tag2{
    width: 84px;
    height: 31px;
    margin-top: 19px;
    margin-left: 49px;
}