.modal-overlay {
  width: 1280px;
  height: 3477px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4;
  position: absolute;
}

.modal-container {
  z-index: 5;
  position: absolute;
  width: 769px;
  height: 355px;
  left: 237px;
  top: 1401px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
