.prod-area{
    width: 1280px;
    height: 190px;
    position: absolute;
    top: 679px;
    display: flex;
}

.prod-container{
    position: absolute;
    display: flex;
    justify-content: space-around;
}

.prod{
    position: absolute;
    height: 106px;
    width: 105px;
    top: 15px;
    border-radius: 50%;
    overflow: hidden;
}

.p1{left: 140px;}

.p2{left: 319px;}

.p3{left: 498px;}

.p4{left: 678px;}

.p5{left: 857px;}

.p6{left: 1036px;}

.prod-title{
    position: absolute;
    width: auto;
    height: 14px;
    top: 141px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.09em;
    color: #000000;
}

.t1{left: 150px;}

.t2{left: 320px;}

.t3{left: 498px;}

.t4{left: 690px;}

.t5{left: 879px;}

.t6{left: 1051px;}
